// Ejemplo 1: Tags y atributos básicos
// Este ejemplo muestra la sintaxis básica de Pug

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Mi Primera Página
  body
    h1 Bienvenido a zig-pug
    p Este es un párrafo simple
    p.destacado Este párrafo tiene una clase
    p#importante Este párrafo tiene un ID
    div.container
      p Contenido dentro de un div
